@import "tailwindcss";

@import "../styles/tailwind-theme-dark.css";

@import "../styles/tailwind-theme-light.css";

@import "../styles/tailwind-theme-common.css";

html {
    height: 100dvh;
    width: 100dvw;
}

body {
    height: 100%;
    padding-bottom: var(--safe-area-inset-bottom);
    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);
    padding-top: var(--safe-area-inset-top);
    width: 100%;
}

html,
body {
    touch-action: manipulation;
}
