# .env.development.backend
# .env.development.frontend
# .env.development.mobile
# .env.local.backend
# .env.local.frontend
# .env.local.mobile
# .env.production.backend
# .env.production.frontend
# .env.production.mobile

# frontend:
# HOSTNAME=0.0.0.0
# NEXT_PUBLIC_API_URL=http://localhost:38502
# NEXT_PUBLIC_PLATFORM=web
# NEXT_PUBLIC_PLATFORM=mobile
# NEXT_PUBLIC_PLATFORM_MOBILE=ios
# NEXT_PUBLIC_PLATFORM_MOBILE=android
# NODE_ENV=production
# NODE_ENV=development
# PORT=38501
# VERSION=0.0.6

# backend:
# CORS_ORIGIN=http://localhost:38501
# HOSTNAME=0.0.0.0
# NODE_ENV=production
# NODE_ENV=development
# SERVICE_HOST_GATEWAY=localhost
# SERVICE_HOST_SERVICE_1=localhost
# SERVICE_HOST_SERVICE_2=localhost
# SERVICE_HOST_SERVICE_3=localhost
# SERVICE_PORT_GATEWAY=38502
# SERVICE_PORT_SERVICE_1=38503
# SERVICE_PORT_SERVICE_2=38504
# SERVICE_PORT_SERVICE_3=38505
# VERSION=0.0.6
