name: boilerplate_fullstack_typescript_production

services:
    backend:
        build:
            context: ..
            dockerfile: ops/Dockerfile.production.backend
        container_name: boilerplate_fullstack_typescript_production_backend
        env_file:
            - ../envs/.env.production.backend
        image: boilerplate_fullstack_typescript:production-backend-0.0.4
        ports:
            - "${PORT:-38502}:${PORT:-38502}"
        restart: unless-stopped

    frontend:
        build:
            context: ..
            dockerfile: ops/Dockerfile.production.frontend
        container_name: boilerplate_fullstack_typescript_production_frontend
        depends_on:
            - backend
        env_file:
            - ../envs/.env.production.frontend
        image: boilerplate_fullstack_typescript:production-frontend-0.0.4
        ports:
            - "${PORT:-38501}:${PORT:-38501}"
        restart: unless-stopped
