name: b_f_t_production

services:
    backend-gateway:
        build:
            context: ..
            dockerfile: ops/Dockerfile.backend-gateway
        container_name: b_f_t_production_backend_gateway
        depends_on:
            backend-service-1:
                condition: service_healthy
            backend-service-2:
                condition: service_healthy
            backend-service-3:
                condition: service_healthy
        env_file:
            - ../envs/.env.production.backend
        environment:
            - SERVICE_HOST_SERVICE_1=backend-service-1
            - SERVICE_HOST_SERVICE_2=backend-service-2
            - SERVICE_HOST_SERVICE_3=backend-service-3
        image: b_f_t_production_backend_gateway:0.0.6
        ports:
            - "38502:38502"
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "echo", "ready"]
            interval: 5s
            timeout: 5s
            retries: 3

    backend-service-1:
        build:
            context: ..
            dockerfile: ops/Dockerfile.backend-service-1
        container_name: b_f_t_production_backend_service_1
        env_file:
            - ../envs/.env.production.backend
        image: b_f_t_production_backend_gateway:0.0.6
        ports:
            - "38503:38503"
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "echo", "ready"]
            interval: 5s
            timeout: 5s
            retries: 3

    backend-service-2:
        build:
            context: ..
            dockerfile: ops/Dockerfile.backend-service-2
        container_name: b_f_t_production_backend_service_2
        env_file:
            - ../envs/.env.production.backend
        image: b_f_t_production_backend_gateway:0.0.6
        ports:
            - "38504:38504"
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "echo", "ready"]
            interval: 5s
            timeout: 5s
            retries: 3

    backend-service-3:
        build:
            context: ..
            dockerfile: ops/Dockerfile.backend-service-3
        container_name: b_f_t_production_backend_service_3
        env_file:
            - ../envs/.env.production.backend
        image: b_f_t_production_backend_gateway:0.0.6
        ports:
            - "38505:38505"
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "echo", "ready"]
            interval: 5s
            timeout: 5s
            retries: 3

    frontend:
        build:
            context: ..
            dockerfile: ops/Dockerfile.frontend
        container_name: b_f_t_production_frontend
        depends_on:
            backend-gateway:
                condition: service_healthy
        env_file:
            - ../envs/.env.production.frontend
        image: b_f_t_production_backend_gateway:0.0.6
        ports:
            - "${PORT:-38501}:${PORT:-38501}"
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "echo", "ready"]
            interval: 5s
            timeout: 5s
            retries: 3
