@font-face {
    font-family: "Mont";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/mont/Mont-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/mont/Mont-ThinItalic.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/mont/Mont-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/mont/Mont-ExtraLightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/mont/Mont-Light.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/mont/Mont-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/mont/Mont-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/mont/Mont-RegularItalic.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/mont/Mont-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/mont/Mont-SemiBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/mont/Mont-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/mont/Mont-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/mont/Mont-Heavy.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/mont/Mont-HeavyItalic.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/mont/Mont-Black.otf") format("opentype");
}

@font-face {
    font-family: "Mont";
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/mont/Mont-BlackItalic.otf") format("opentype");
}
